body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}


h1 {
    font-size: 30px;
    color: #e9f8fc;
    /* color: black; */
    font-weight: bold;
    animation: bounce 5s infinite;
}
h1 > strong {
    color: #2b3e50;
    /* color: rgb(255, 123, 0); */
}

.mondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(84, 88, 48, 0.274);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group button {
    margin-top: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: #2b3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color .5s ease-in-out;
}

.input-group button:hover {
    border: 1px solid #2b3e50;
    background-color: white;
    color: black;
}

.login-button {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    color: white;
    background-color: #2b3e50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color .5s ease-in-out;
}

.login-button:hover {
    border: 1px solid #2b3e50;
    background-color: white;
    color: black;
}



@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }
}

/* Fun bounce animation for the logo */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
